.root {
  background: black;
  border-top: 1px solid #ddd2;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  color: #808080;
  cursor: default;
}
.root:hover {
  color: lightgrey;
}
p {
  margin: 0;
}

.playBtn {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  margin-right: 10px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
}

img {
  height: 40px;
  width: 40px;
  margin-right: 20px;
}

.playBtn > i {
  font-size: 18px;
}
